.container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3vh;
  width: 100%;
  background: linear-gradient(105deg, #068095, #24a1a6, #42c4b7, #66eccc);
  z-index: 100000;
  display: flex;
  align-items: center;
}
.options {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  list-style-type: none;
  font-size: 1.2rem;
  color: white;
  margin-left: 10px;
  font-family: "Poppins", sans-serif;
}
.options > * {
  cursor: pointer;
  height: 100%;
  padding: 3px 4px 3px 4px;
}
.color {
  /* background-color: #0078d4; */
    background-color: #2d2d2c;
}
